body {
  font-size: 20px;
  font-weight: 700;
}
.imgBox {
  position: relative;
  display: flex;
  justify-content: center;
}

.imgBox img {
  max-height: 300px;
}

.imgBox span {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
}

.imgBox .topText {
  top: 8px !important;
  left: 50%;
  transform: translateX(-50%);
}

.imgBox .bottomText {
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
