@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');;
html {
  font-family: 'Oswald', sans-serif;
}

/* *{
  box-sizing:border-box;

 border: 1px solid fuchsia;

} */


.container {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
}
.grid {
  align-self: center;
}

article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* article img {
  max-width: 100%;
  height: 200px;
  width: 200px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */

article .imgBox {
  position: relative;
display: flex;
justify-content: center;
}

article .imgBox img {
  max-height: 300px;
}

article .imgBox span {
  font-family: 'Archivo Black', sans-serif;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: absolute;
 
}

article .imgBox .topText {
top: 8px;
left: 50%;
transform: translateX(-50%);
}

article .imgBox .bottomText {
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  }

#main-logo {
  height: 130px;
  max-width: 500px;
}

.titlecolor {
  text-align: center;
  font-size: xx-large;
}

.box {
  padding: 30px;
}

.icon {
  border: none;
  text-decoration: none;
  margin: 20px;
}
